# Collaborative filtering on Movielens

## Item-to-item collaborative filtering

$$
         w(i, j) = \frac{\sum_{u\in U_i \cap U_j}(r_{u,i}-\bar{r}_u)(r_{u,j}-\bar{r}_u)}{\sqrt{\sum_{u\in U_i \cap U_j} (r_{u,i}-\bar{r}_u)^2}\sqrt{\sum_{u\in U_i \cap U_j} (r_{u,j}-\bar{r}_u)^2}}.
$$

\begin{equation}
 w(c,I_u) = \sum_{i\in I_u} w_{c,i}.
\end{equation}

### Import useful requirements

In [1]:
import os

if not (os.path.exists("recsys.zip") or os.path.exists("recsys")):
    !wget https://github.com/nzhinusoftcm/review-on-collaborative-filtering/raw/master/recsys.zip
    !unzip recsys.zip

### Import requirements

In [2]:
import typing as tp

import numpy as np
import pandas as pd
import tqdm.notebook
from recsys.datasets import ml100k
from sklearn.preprocessing import LabelEncoder

### Dataset upload

In [3]:
%load_ext autoreload
%autoreload 2

Will use movielens dataset

In [4]:
ratings, movies = ml100k.load()

In [5]:
len(ratings), len(movies)

(100000, 1682)

In [6]:
ratings.head()

   userid  itemid  rating
0       1       1       5
1       1       2       3
2       1       3       4
3       1       4       3
4       1       5       3

In [7]:
movies.head()

   itemid              title
0       1   Toy Story (1995)
1       2   GoldenEye (1995)
2       3  Four Rooms (1995)
3       4  Get Shorty (1995)
4       5     Copycat (1995)

### Preprocessing

In [8]:
def ids_encoder(ratings: pd.DataFrame) -> tuple[pd.DataFrame, LabelEncoder, LabelEncoder]:
    users = sorted(ratings["userid"].unique())
    items = sorted(ratings["itemid"].unique())

    # create users and items encoders
    uencoder = LabelEncoder()
    iencoder = LabelEncoder()

    # fit users and items ids to the corresponding encoder
    uencoder.fit(users)
    iencoder.fit(items)

    # encode userids and itemids
    ratings.userid = uencoder.transform(ratings.userid.tolist())
    ratings.itemid = iencoder.transform(ratings.itemid.tolist())

    return ratings, uencoder, iencoder

In [9]:
# create the encoder
ratings, uencoder, iencoder = ids_encoder(ratings)

## Implementation

### Part 1. Similarities

\begin{equation}
 w_{i,j}= \frac{\sum_{u\in U}(r_{u,i}-\bar{r}_u)(r_{u,j}-\bar{r}_u)}{\sqrt{\sum_{u\in U} (r_{u,i}-\bar{r}_u)^2}\sqrt{\sum_{u\in U} (r_{u,j}-\bar{r}_u)^2}}.
\end{equation}

In [10]:
def normalize(ratings: pd.DataFrame) -> pd.DataFrame:
    """Normalize ratings by user"""
    # calculate mean for every user
    mean = ratings.groupby(by="userid", as_index=False)["rating"].mean()
    norm_ratings = pd.merge(ratings, mean, suffixes=("", "_mean"), on="userid")

    # normalize each rating by substracting the mean rating of the corresponding user
    norm_ratings["norm_rating"] = norm_ratings["rating"] - norm_ratings["rating_mean"]

    return norm_ratings[ratings.columns.tolist() + ["norm_rating"]]

In [11]:
def test_normalize():
    test_df = pd.DataFrame(
        {
            "userid": [0, 0, 0, 1, 1],
            "itemid": [0, 1, 2, 1, 3],
            "rating": [2, 2, 5, 5, 5],
        }
    )

    expected = pd.DataFrame(
        {
            "userid": [0, 0, 0, 1, 1],
            "itemid": [0, 1, 2, 1, 3],
            "rating": [2, 2, 5, 5, 5],
            "norm_rating": [-1, -1, 2, 0, 0],
        }
    )

    assert (
        test_df.shape[0] == expected.shape[0]
    ), "Number of user-item interactions is different"
    assert test_df.shape[1] + 1 == expected.shape[1], "Number of columns is incorrect"
    assert (normalize(test_df) == expected).all().all(), "Result is incorrect"


test_normalize()

In [12]:
norm_ratings = normalize(ratings)
np_ratings = norm_ratings.to_numpy()
norm_ratings.head()

   userid  itemid  rating  norm_rating
0       0       0       5     1.389706
1       0       1       3    -0.610294
2       0       2       4     0.389706
3       0       3       3    -0.610294
4       0       4       3    -0.610294

In [13]:
def cosine(x: np.ndarray, y: np.ndarray) -> float:
    if np.linalg.norm(x) == 0 or np.linalg.norm(y) == 0:
        return 0

    return np.dot(x, y) / (np.linalg.norm(x) * np.linalg.norm(y))

In [48]:
from functools import lru_cache


@lru_cache(2000)
def ratings_for_item(i):
    return np_ratings[np_ratings[:, 1] == i]


def calculate_similarity_between_two(i: int, j: int) -> float:
    """
    i: index of the first item
    j: index of the second item

    Returns:
        cosine similarity between i and j
    """
    if i == j:
        return 1.0

    ratings_i, ratings_j = ratings_for_item(i), ratings_for_item(j)

    common_users = np.intersect1d(ratings_i[:, 0], ratings_j[:, 0])

    if len(common_users) == 0:
        return -1.0

    common_ratings_i = ratings_i[np.isin(ratings_i[:, 0], common_users)]
    common_ratings_j = ratings_j[np.isin(ratings_j[:, 0], common_users)]

    assert sorted(common_ratings_i[:, 0]) == sorted(common_ratings_j[:, 0])

    x = common_ratings_i[:, 3]
    y = common_ratings_j[:, 3]
    return cosine(x, y)

In [49]:
assert np.isclose(calculate_similarity_between_two(0, 0), 1.0)
assert np.isclose(calculate_similarity_between_two(1, 2), 0.1069226)
assert np.isclose(calculate_similarity_between_two(1, 3), 0.0555092)
assert np.isclose(calculate_similarity_between_two(1, 5), -0.125509)
assert np.isclose(calculate_similarity_between_two(1, 1431), 1.0)
assert np.isclose(calculate_similarity_between_two(4, 1123), 0.0)

In [60]:
def adjusted_cosine(
    np_ratings: np.ndarray, similarity_between_two
) -> tp.Tuple[np.ndarray, np.ndarray]:
    """Computes cosine similarity for all pairs

    np_ratings: array containing: (user_id, item_id, rating, rating_mean, norm_rating)
    similarity_between_two: function to calculate similarity
    """
    n_items = np.unique(np_ratings[:, 1]).size
    similarities = np.full((n_items, n_items), -1, dtype=np.float32)
    np.fill_diagonal(similarities, 1)

    items = sorted(set(map(int, np_ratings[:, 1])))

    with tqdm.notebook.tqdm(total=len(items) * (len(items) - 1) // 2) as pbar:
        for i in range(len(items)):
            for j in range(i + 1, len(items)):
                sim = similarity_between_two(items[i], items[j])
                similarities[items[i], items[j]] = sim
                similarities[items[j], items[i]] = sim
                pbar.update()

    assert np.all(
        similarities.T == similarities
    ), "Similarity matrix should be symmetrical"
    assert np.allclose(
        np.diag(similarities), 1.0
    ), "Similarities of items with themselves should be 1"

    # get neighbors by their neighbors in decreasing order of similarities
    neighbors = np.flip(np.argsort(similarities), axis=1)

    # sort similarities in decreasing order
    similarities = np.flip(np.sort(similarities), axis=1)

    return similarities, neighbors

In [61]:
similarities, neighbors = adjusted_cosine(np_ratings, calculate_similarity_between_two)

  0%|          | 0/1413721 [00:00<?, ?it/s]

In [62]:
def neighbours_viz(
    item_id: int,
    movies: pd.DataFrame,
    similarities: np.ndarray,
    k=5,
):
    orig_index = iencoder.inverse_transform([item_id])[0]
    film_name = movies[movies.itemid == orig_index].title.values[0]
    similar_films = (
        (
            neighbor_id,
            movies[
                movies.itemid == iencoder.inverse_transform([neighbor_id])[0]
            ].title.values[0],
            similarity,
        )
        for neighbor_id, similarity in zip(
            neighbors[item_id][:k], similarities[item_id][:k]
        )
    )
    display(
        pd.DataFrame(
            dict(zip(("item_id", film_name, "Similarity"), zip(*similar_films)))
        )
    )
    print("\n")

In [63]:
neighbours_viz(49, movies, similarities)
neighbours_viz(68, movies, similarities)
neighbours_viz(914, movies, similarities)
neighbours_viz(319, movies, similarities)
neighbours_viz(200, movies, similarities)

   item_id                                   Star Wars (1977)  Similarity
0     1326                                    Captives (1994)         1.0
1     1645                               Men With Guns (1997)         1.0
2     1485                        Girl in the Cadillac (1995)         1.0
3     1629  Silence of the Palace, The (Saimt el Qusur) (1...         1.0
4     1242                                 Night Flier (1997)         1.0

   item_id                                Forrest Gump (1994)  Similarity
0      991                            Head Above Water (1996)         1.0
1     1629  Silence of the Palace, The (Saimt el Qusur) (1...         1.0
2     1593                                     Everest (1998)         1.0
3     1388                                       Mondo (1996)         1.0
4     1326                                    Captives (1994)         1.0

   item_id                              Primary Colors (1998)  Similarity
0     1175                         Welcome To Sarajevo (1997)         1.0
1     1170                                  Wild Reeds (1994)         1.0
2      266                                            unknown         1.0
3     1194  Strawberry and Chocolate (Fresa y chocolate) (...         1.0
4     1195           Savage Nights (Nuits fauves, Les) (1992)         1.0

,item_id,Paradise Lost: The Child Murders at Robin Hood Hills (1996),Similarity
0,1343,"Story of Xinghua, The (1993)",1.0
1,806,Poetic Justice (1993),1.0
2,1402,Caro Diario (Dear Diary) (1994),1.0
3,1540,"Beans of Egypt, Maine, The (1994)",1.0
4,1539,"Amazing Panda Adventure, The (1995)",1.0

   item_id                         Evil Dead II (1987)  Similarity
0      888                    Tango Lesson, The (1997)         1.0
1     1428                        Sliding Doors (1998)         1.0
2     1560  Tigrero: A Film That Was Never Made (1994)         1.0
3     1559        Clean Slate (Coup de Torchon) (1981)         1.0
4     1558                   Hostile Intentions (1994)         1.0

In [64]:
def calculate_similarity_between_two_with_threshold(
    i: int, j: int
) -> float:
    if i == j:
        return 1.0

    ratings_i, ratings_j = ratings_for_item(i), ratings_for_item(j)
    common_users = np.intersect1d(ratings_i[:, 0], ratings_j[:, 0])
    common_ratings_i = ratings_i[np.isin(ratings_i[:, 0], common_users)]
    common_ratings_j = ratings_j[np.isin(ratings_j[:, 0], common_users)]

    if len(common_users) > 20:
        assert sorted(common_ratings_i[:, 0]) == sorted(common_ratings_j[:, 0])
        x = common_ratings_i[:, 3]
        y = common_ratings_j[:, 3]
        return cosine(x, y)
    return -1.0

In [65]:
assert np.isclose(
    calculate_similarity_between_two_with_threshold(1, 1431), -1.0
)
assert np.isclose(
    calculate_similarity_between_two_with_threshold(1, 17), -1.0
)
assert np.isclose(
    calculate_similarity_between_two_with_threshold(4, 1123), -1.0
)
assert np.isclose(
    calculate_similarity_between_two_with_threshold(914, 1681), -1.0
)

In [66]:
similarities, neighbors = adjusted_cosine(
    np_ratings, calculate_similarity_between_two_with_threshold
)

  0%|          | 0/1413721 [00:00<?, ?it/s]

In [67]:
neighbours_viz(49, movies, similarities)
neighbours_viz(68, movies, similarities)
neighbours_viz(154, movies, similarities)
neighbours_viz(200, movies, similarities)

   item_id                 Star Wars (1977)  Similarity
0       49                 Star Wars (1977)    1.000000
1      171  Empire Strikes Back, The (1980)    0.826287
2      180        Return of the Jedi (1983)    0.728182
3      173   Raiders of the Lost Ark (1981)    0.714250
4      407            Close Shave, A (1995)    0.659379

   item_id            Forrest Gump (1994)  Similarity
0       68            Forrest Gump (1994)    1.000000
1      214         Field of Dreams (1989)    0.445981
2      309          Rainmaker, The (1997)    0.436435
3       21              Braveheart (1995)    0.422572
4      965  Affair to Remember, An (1957)    0.420235

   item_id                  Dirty Dancing (1987)  Similarity
0      154                  Dirty Dancing (1987)    1.000000
1      626  Robin Hood: Prince of Thieves (1991)    0.727235
2      568                           Wolf (1994)    0.716361
3      254       My Best Friend's Wedding (1997)    0.708146
4      416               Parent Trap, The (1961)    0.634029

   item_id                     Evil Dead II (1987)  Similarity
0      200                     Evil Dead II (1987)    1.000000
1      183                 Army of Darkness (1993)    0.574317
2       23              Rumble in the Bronx (1995)    0.536677
3       90  Nightmare Before Christmas, The (1993)    0.491057
4      557               Heavenly Creatures (1994)    0.481768

### Part 2. Top items for a user

In [70]:
def candidate_items(
    np_ratings: np.ndarray, userid: int, k=-1
) -> tp.Tuple[np.ndarray, np.ndarray]:
    '''np_ratings: array containing: (user_id, item_id, rating, rating_mean, norm_rating)'''
    
    # 1. Finding the set I_u of items already rated by user userid
    I_u = np_ratings[np_ratings[:, 0] == userid]
    I_u = I_u[:, 1].astype("int")

    # 2. Taking the union of similar items for all items in I_u to form the set of candidate items
    c = set()

    for iid in I_u:
        # add the neighbors of item iid in the set of candidate items
        c.update(neighbors[iid, :k])

    c = list(c)
    
    # 3. exclude from the set C all items in I_u.
    candidates = np.setdiff1d(c, I_u, assume_unique=True)

    return I_u, candidates

In [75]:
i_u, u_candidates = candidate_items(np_ratings, uencoder.transform([3])[0])

print("Films seen by user:", len(i_u))
print("Candidates:", len(u_candidates))

Films seen by user: 54
Candidates: 1628

In [76]:
i_u, u_candidates = candidate_items(np_ratings, uencoder.transform([3])[0], 10)

print("Films seen by user:", len(i_u))
print("Candidates:", len(u_candidates))

Films seen by user: 54
Candidates: 237

In [77]:
def similarity_with_Iu(item_id: int, I_u: np.ndarray) -> float:
    w = 0
    for iid in I_u:
        # get similarity between itemid and c, if c is one of the k nearest neighbors of itemid
        if item_id in neighbors[iid]:
            w = w + similarities[iid, neighbors[iid] == item_id][0]
    return w

In [78]:
def rank_candidates(candidates: np.ndarray, I_u: np.ndarray) -> list:

    # list of candidate items mapped to their corresponding similarities to I_u
    sims = [similarity_with_Iu(c, I_u) for c in candidates]
    candidates = iencoder.inverse_transform(candidates)
    mapping = list(zip(candidates, sims))

    ranked_candidates = sorted(mapping, key=lambda couple: couple[1], reverse=True)
    return ranked_candidates

## Putting it alltogether

In [79]:
def topn_recommendation(np_ratings: np.ndarray, userid, k=-1, N=30):
    # find candidate items
    I_u, candidates = candidate_items(np_ratings, userid, k)

    # rank candidate items according to their similarities with I_u
    ranked_candidates = rank_candidates(candidates, I_u)

    # get the first N row of ranked_candidates to build the top N recommendation list
    topn = pd.DataFrame(ranked_candidates[:N], columns=["itemid", "similarity_with_Iu"])
    topn = pd.merge(topn, movies, on="itemid", how="inner")
    return topn

In [80]:
topn_recommendation(np_ratings, uencoder.transform([1])[0])

,itemid,similarity_with_Iu,title
0,313,-16.941690,Titanic (1997)
1,318,-23.278784,Schindler's List (1993)
2,655,-24.349682,Stand by Me (1986)
3,357,-26.289772,One Flew Over the Cuckoo's Nest (1975)
4,433,-27.140886,Heathers (1989)
5,423,-27.654851,E.T. the Extra-Terrestrial (1982)
6,651,-27.970798,Glory (1989)
7,288,-29.451573,Scream (1996)
8,276,-29.451748,Leaving Las Vegas (1995)
9,527,-29.573808,Gandhi (1982)
10,302,-30.622772,L.A. Confidential (1997)
11,286,-31.713590,"English Patient, The (1996)"
12,483,-32.967155,Casablanca (1942)
13,427,-33.369143,To Kill a Mockingbird (1962)
14,475,-33.966008,Trainspotting (1996)
15,405,-34.448663,Mission: Impossible (1996)
16,435,-35.084328,Butch Cassidy and the Sundance Kid (1969)
17,403,-35.352781,Batman (1989)
18,732,-36.014251,Dave (1993)
19,603,-36.658370,Rear Window (1954)
20,588,-36.955731,Beauty and the Beast (1991)
21,294,-37.392375,Liar Liar (1997)
22,474,-37.597903,Dr. Strangelove or: How I Learned to Stop Worr...
23,273,-37.812546,Heat (1995)
24,443,-38.511184,"Birds, The (1963)"
25,385,-38.716206,True Lies (1994)
26,568,-38.736662,Speed (1994)
27,496,-38.799533,It's a Wonderful Life (1946)
28,742,-39.024005,Ransom (1996)
29,480,-39.411200,North by Northwest (1959)

In [81]:
test_history = [49, 81, 180, 256, 131, 379]
movies.iloc[test_history]

     itemid                          title
49       50               Star Wars (1977)
81       82           Jurassic Park (1993)
180     181      Return of the Jedi (1983)
256     257            Men in Black (1997)
131     132       Wizard of Oz, The (1939)
379     380  Star Trek: Generations (1994)

In [82]:
def candidate_items_by_user_history(I_u: tp.List[int], k=-1):
    c = set()
    for iid in I_u:
        c.update(neighbors[iid, :k])
    candidates = np.setdiff1d(list(c), I_u, assume_unique=True)

    return candidates


def topn_recommendations_by_user_history(I_u: tp.List[int], k=-1, N=30):
    candidates = candidate_items_by_user_history(I_u, k=k)
    ranked_candidates = rank_candidates(candidates, I_u)
    topn = pd.DataFrame(ranked_candidates[:N], columns=["itemid", "similarity_with_Iu"])
    topn = pd.merge(topn, movies, on="itemid", how="inner")
    return topn


topn_recommendations_by_user_history(test_history)

    itemid  similarity_with_Iu                                      title
0      172            2.628615            Empire Strikes Back, The (1980)
1      174            2.142320             Raiders of the Lost Ark (1981)
2      313            2.035859                             Titanic (1997)
3      210            1.941583  Indiana Jones and the Last Crusade (1989)
4      651            1.880540                               Glory (1989)
5       22            1.773043                          Braveheart (1995)
6       64            1.735550           Shawshank Redemption, The (1994)
7       79            1.707949                       Fugitive, The (1993)
8      204            1.686313                  Back to the Future (1985)
9      429            1.676720      Day the Earth Stood Still, The (1951)
10     318            1.673867                    Schindler's List (1993)
11     173            1.600043                 Princess Bride, The (1987)
12     736            1.599564                         Shadowlands (1993)
13      96            1.578550          Terminator 2: Judgment Day (1991)
14     195            1.551406                     Terminator, The (1984)
15     228            1.461078        Star Trek: The Wrath of Khan (1982)
16     194            1.450726                          Sting, The (1973)
17       1            1.446937                           Toy Story (1995)
18      28            1.395897                           Apollo 13 (1995)
19     265            1.363549           Hunt for Red October, The (1990)
20     430            1.353699                           Duck Soup (1933)
21     199            1.352136       Bridge on the River Kwai, The (1957)
22      95            1.351532                             Aladdin (1992)
23     408            1.348814                      Close Shave, A (1995)
24     423            1.324165          E.T. the Extra-Terrestrial (1982)
25     520            1.315989                   Great Escape, The (1963)
26     498            1.277557                  African Queen, The (1951)
27     222            1.269978            Star Trek: First Contact (1996)
28     735            1.257273                        Philadelphia (1993)
29     169            1.251834                 Wrong Trousers, The (1993)